
.fullPageWrapper h1, h2 {
    justify-content: center;
    align-items: center;
    color: white;
    width: 500px;

}
.fullPageWrapper h1{
    font-size: 48px;
}
.fullPageWrapper h2{
    font-size: 30px;
    font-weight: lighter;

}
.fullPageWrapper{
    background-image: url('https://images.unsplash.com/photo-1457364887197-9150188c107b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: auto;
}

.fullPageContent{
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.btn_readMore{
    font-weight: bold;
    margin-top: 30px;
    width: 170px;
    height: 30px;
    background-color: transparent;
    border: solid black 1px;
}
.btn_readMore:hover{
    background-color: white;
    opacity: 80%;
    cursor: pointer;
}