.wholeSection{
    padding-top: 15px;

    background-color: black;
    display: block;
    align-items: center;
    justify-content: center;
    /*position: absolute;*/
    /*top: 1245px;*/
    width: 100%;
    height: 40%;

}
.title{
    padding-top: 15px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
}
.videoBlog{
    display: flex;
    background-color: black;
    padding: 40px;
    justify-content: space-between;
}
.blogSection{
    padding: 0 20px;
}
.ourMissionSection{
    background-color: black;
}
.OurMissionText{
    padding-top: 20px;
    color: white;
    font-size: 28px;
    margin: 0 auto;
    text-align: center;
}
.aboutOurMission{
    color: white;
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    width: 80%;
}